.Form {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}
*{
  box-sizing: border-box;
}
html,body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
 
input {
  margin: 5px;
  padding: 8px;
  width: 200px;
}
 
button {
  padding: 8px 15px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.maindiv{
  background-color:#66d9ff;
  width: 100%;
  height: 13vh;
}
.titlediv{

}
button:hover {
  background-color: #005fa3;
}
 
table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 60%;
}
 
th, td {
  border: 1px solid #ddd;
  padding: 10px;
}
 
th {
  background-color: #f2f2f2;
}